name: Build & Push Docker Image to GHCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    permissions: 
      contents: read
      packages: write

    defaults:
      run:
        working-directory: ./api

 
    steps: 
      - name: Checkout repository 
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build JAR file
        run: mvn clean package -DskipTests

      - name: Log in to GHCR (Using Official Action)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }} 
          password: ${{ secrets.k8s_ghcr_pull }}

      - name: Build Docker image
        run: docker build -t ghcr.io/chadiec/todo-api:$(git rev-parse --short HEAD) .

      - name: Push image to GHCR
        run: docker push ghcr.io/chadiec/todo-api:$(git rev-parse --short HEAD)